.place__title {
  color: #ffffff;
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 4.75rem;
  letter-spacing: 0em;
  text-align: left;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .place__title {
    font-size: 2.625rem;
    font-weight: 900;
    line-height: 2.875rem;
    letter-spacing: 0em;
    text-align: left;
  }
}
