.intro__text-caption {
  list-style: none;
  padding: 0;
  max-width: 383px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
}
@media screen and (max-width: 1024px) {
  .intro__text-caption {
    margin: 16px auto 0 0;
  }
}
@media screen and (max-width: 768px) {
  .intro__text-caption {
    margin: 24px auto 0 0;
  }
}

@media screen and (max-width: 375px) {
  .intro__text-caption {
    max-width: 343px;
    font-size: 12px;
    line-height: 19px;
    margin: 30px auto 0 0;
    padding-top: 2px;
  }
}
@media screen and (max-width: 320px) {
  .intro__text-caption {
    max-width: 288px;
    margin: 35px auto 0 0;
  }
}
