.lead {
  border: 1px solid red;
  margin: 3.5rem 9.25rem 0;
  min-width: 61.5rem;
  padding: 0;
}
@media screen and (max-width: 320px) {
  .lead {
    min-width: 90%;
    margin: 3rem auto 0;
  }
}
@media screen and (max-width: 768px) {
  .lead {
    min-width: 90%;
    margin: 3rem auto 5.5rem;
  }
}
