.cover__subtitle {
  max-width: 382px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto ;
  margin-top: 78px;
  position: relative;
  z-index: 1;
  padding: 0;
}
@media screen and (max-width: 1280px) {
  .cover__subtitle {
    margin-top: 84px;
    max-width: 413px;
  }
}
@media screen and (max-width: 1024px) {
  .cover__subtitle {
    margin-top: 76px;
  }
}
@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin-top: 45px;
    max-width: 383px;
  }
}
@media screen and (max-width: 375px) {
  .cover__subtitle {
    margin-top: 0;
    padding: 15px 36px;
    font-size: 14px;
    line-height: 17px;
    max-width: 343px;
  }
}
@media screen and (max-width: 320px) {
  .cover__subtitle {
    padding: 10px 24px;
    
  }
}
