.place__paragraph {
  margin-top: 0;
  padding: 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
@media screen and (max-width: 320px) {
  .place__paragraph {
    font-size: 1rem;

    line-height: 1.625rem;
  }
}
@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 1rem;

    line-height: 1.625rem;

    margin: 32px 0 50px;
  }
}

/*изменено*/
