.place__paragraph {
  margin: 0 auto 20px 40px;
  max-width: 484px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
}
.place__paragraph:last-of-type {
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .place__paragraph {
    margin: 0 auto 23px 0;
  }
}
@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 27px;
    max-width: 352px;
    margin: 0 auto 30px 0;
  }
}
@media screen and (max-width: 375px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 27px;
    max-width: 352px;
    width: 93%;
    margin: 0 auto;
    padding: 5px 5px 0px 5px;
  }
  /* .place__paragraph:last-child {
    padding-bottom: 0;
    padding-top: 0;
  } */
}
@media screen and (max-width: 320px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 169.43%;
    max-width: 288px;
    margin: 0 auto;
    padding: 1px 2px 1px 2px;
  }
}
