

.footer__copyright {
    margin: 8px 0 0 auto;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    align-self:  center;
  }
  @media screen and (max-width:768px){
    .footer__copyright {
      margin: 32px auto auto 0;
    }
  }
  @media screen and (max-width:375px){
    .footer__copyright {
      margin-left: 16px;
    }
  }