.lead__image {
  width: 100%;
  object-fit: cover;
  min-height: 38.4375rem;
}
@media screen and (max-width: 320px) {
  .lead__image {
    min-width: 90%;
    margin: 4rem auto 0.5rem;
    min-height: auto;
  }
}
@media screen and (max-width: 768px) {
  .lead__image {
    min-width: 90%;
    margin: 4rem auto 0.5rem;
    min-height: auto;
  }
}
