.intro__text {
  color: #ffffff;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 2.5rem;
}
@media screen and (max-width: 320px) {
  .intro__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }
}
