.intro {
  margin: 5.75rem 27.625rem 0 9.25rem;
  min-width: 43.125rem;
  border: 1px solid red;
}
@media screen and (max-width: 320px) {
  .intro {
    min-width: 90%;
    margin: 5.75rem auto;
  }
}
@media screen and (max-width: 768px) {
  .intro {
    min-width: 90%;
    margin: 5.75rem auto;
  }
}
