.lead__subtitle {
  max-width: 600px;
  margin: 39px auto 0 auto;
  padding: 0 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 1024px) {
  .lead__subtitle {
    max-width: 600px;
    margin-top: 35px;
    
  }
}
@media screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: calc(1.0rem + 14 * (100vw - 320px) / 448);
    max-width: 720px;
    margin-top: 32px;
    padding: 0 30px;
  }
}
@media screen and (max-width: 375px) {
  .lead__subtitle {
    max-width: 375px;
    font-size: 16px;
    line-height: 23px;
    margin-top: 8px;
    padding:0px 20px 5px 20px;
    
  }
}
