.lead__subtitle {
  color: #ffffff;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 2.25rem;
  letter-spacing: 0em;
  text-align: center;
  margin: 2rem 10.75rem 4rem;
  padding: 0;
}
@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0em;
    text-align: center;
    margin: 1rem auto 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    margin: 2rem auto 3.5rem;
  }
}
