.lead__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 70px auto 0 auto;
}
@media screen and (max-width: 1280px) {
  .lead__img {
    margin: 70px auto 0 auto;
  }
}
@media screen and (max-width: 1024px) {
  .lead__img {
    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .lead__img {
    max-width: 768px;
    max-height: 420px;
  }
}
@media screen and (max-width: 375px) {
  .lead__img {
    max-width: 375px;
    max-height: 211px;
    margin-top: 30px;
    padding: 1px;
  }
}
@media screen and (max-width: 320px) {
  .lead__img {
    max-width: 320px;
    max-height: 211px;
    margin-top: 30px;
    padding: 1px;
  }
}
