.cover__title {
  color: #ffffff;
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 4.75rem;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 0 1rem;
  max-width: 35rem;
}
@media screen and (max-width: 568px) {
  .cover__title {
    font-size: 2rem;
    line-height: 2.1875rem;
    margin: 0 0 0.5rem;
    max-width: 18rem;
  }
}
