.place {
  margin-bottom: 5rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(28.75rem, 30.25rem) 28.5rem;
  grid-template-rows: 4.75rem 2fr;
  grid-column-gap: 2.5rem;
  grid-row-gap: 3rem;
}

@media screen and (max-width: 320px) {
  .place {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 375px) {
  .place {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 425px) {
  .place {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .place {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(1, 2fr) 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 2.5rem;
    grid-row-gap: 3rem;
  }
}
