.footer {
  margin: 0 3rem 1.5rem;
  display: flex;
  flex-flow: row wrap;
}
@media screen and (max-width: 320px) {
  .footer {
    margin: 0 0 1.5rem;
    display: flex;
    flex-flow: column nowrap;
    max-width: 288px;
  }
}
