.footer {
  max-width: 1184px;
  width: 93%;
  margin: 154px auto 48px;
  display: flex;
}
@media screen and (max-width: 1024px) {
  .footer {
    max-width: 929px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    max-width: 722px;
    margin-top: 99px;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    max-width: 282px;
    width: 93%;
    margin: 0;
    margin-bottom: 24px;
  }
}
