.place__paragraph_page {
  margin-top: 0;
  padding: 0;
}
@media screen and (max-width: 320px) {
  .place_page {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .place_page {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    letter-spacing: 0em;
    text-align: left;
    margin: 32px 0 50px;
  }
}

@media screen and (max-width: 1024px) {
  .place_page {
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin: 32px 0 50px;
  }
}
