.intro__title {
  color: #ffffff;
  font-size: 3.375rem;
  font-weight: 900;
  font-style: normal;
  line-height: 3.625rem;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}
@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    letter-spacing: 0em;
  }
}
