.intro__title {
  max-width: 683px;
  padding: 0;
  margin: 0 auto 0 0;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 59px;
  color: #ffffff;
}
@media screen and (max-width: 375px) {
  .intro__title {
    max-width: 343px;
    font-size: 32px;
    line-height: 35px;
    padding-right:100px;
  }
}
@media screen and (max-width: 320px) {
  .intro__title {
    max-width: 343px;
    font-size: 32px;
    line-height: 35px;
    padding-right:80px;
  }
}